
body {
  height: 100%;
}

#reactMount {
  margin: 50px auto;
  height: 100%;
  width: 1440px;
}

.header__wrapper {
  background-color: black;
  height: 50px;
}

.header__navLink {
  color: white;
  line-height: 50px;
  margin: 0 20px;
  text-decoration: none;
}

.form__button {
  margin: 0 20px;
}